/* =============
    Associations
============= */

#ALA{
    width: 200px;
}

#CORE{
    width: 200px;
}

#RUSA{
    width: 200px;
}

#FTRF{
    width: 200px;
}

#JEDI{
    width: 100px;
}

#SPCA{
    width: 100px;
}