/* =============
    Base
============= */
body{
    background-color: var(--blueGrey);
}

aside{background-color: var(--oliveBrown);}

.content-grid{
    display: grid;
    grid-template-columns: 75% auto;
    grid-template-areas: 
    "header header"
    "section aside"
    "footer footer";

   }
.header-grid-item{
    grid-area: header;
    padding: 50px;
}

#index-left{
    grid-area: section;
    padding: 50px;
}

#main-content-right{
    grid-area: aside;
    padding: 50px;    
}

.footer-grid-item{
    grid-area: footer;
    padding: 50px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}